table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  min-width: 400px;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.heading{
  color: black;
  text-align: center;
  font-family: math;
  font-size: 28px;
}
.allfilters{
  text-align: center;
  gap: 20px;
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

body{
  background-color:#dda6d6;
}
.button-div{
  text-align: center;
}




/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top:16px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}